html {
  margin: 0;
}
body {
  margin: 0;
  background-color: #9e2955 !important;
  border: 18px solid #5a1d29;
}
#title {
  margin-top: 40px;
}
h1 {
  color: #d60675 !important;
  font: 60px 'Halant', serif !important;
  text-align: center;
}
h2 {
  color: #dda5bd !important;
  font: 23px 'Halant', serif !important;
  text-align: center;
}
#image {
  width: 260px;
  height: 260px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
#img-caption {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #dda5bd;
}
hr {
  border: none;
  height: 2px !important;
  width: 950px;
  background-color: #c25a87;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
#tribute-info {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
}
h3 {
  font: 23px 'Nunito Sans', sans-serif !important;
}

ul {
  font: 20px 'Nunito Sans', sans-serif !important;
}

li {
  margin-bottom: 8px;
}
footer{
  text-align: center;
  font: 20px 'Nunito Sans', sans-serif;
  margin-bottom: 40px;
  color: #fff;
}
#tribute-link {
  text-decoration: none;
  color: #dda5bd;
}
#tribute-link:hover {
  opacity: 0.5;
}
